@media screen and (min-width: 1024px) {
	.wrapper{
		width: 80%;
		height: 2160px;
		margin: 0 auto;
		background: #B22222;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 16px;
	}

	.header{
		width: 100%;
		height: 100px;
		background: #F00;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.snowman, .christmas_tree{
		width: 10%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}


	.header_h1{
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.h1_header{
		color: white;
		font-size: 2rem;
	}

	h2{
		font-size: 2rem;
	}

	.main{
		width: 100%;
		height: 1900px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}

	.div-right, .div-left{
		background: #F00;
		width: 100%;
		height: 13%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: white;
	}

	.div-right_img{
		width: 23%;
		height: 80%;
	}

	.div_main-text{
		width: 49%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.main-right_text, .main-left_text{
		font-size: 1rem;
	}


	.main-right_text{
		text-align: left;
	}

	.main-left_text{
		text-align: right;
	}

	.footer{
		width: 100%;
		height: 100px;
		background: #F00;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 1.2rem;
		text-align: center;
	}

	.confetti-explosion, .snowflake{
		display: none;
	}
}